.animations {
  margin: 0 auto;
  position: relative;
  height: 530px;

  &__title {
    margin: 0;
    position: absolute;
    z-index: 10;
    top: -45px;
    left: 0;

    span {
      font-size: 56px;
      font-weight: 700;
      line-height: 67px;
      color: $black-blue;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: -80px;
        width: 5px;
        height: 100%;
        background: linear-gradient(180deg, #3877ee -5%, #ef5da8 85%);
      }
    }
  }

  &__container {
    height: 530px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__dates {
    position: relative;
    z-index: 10;
    display: flex;
    gap: 165px;
  }

  &__date {
    font-size: 200px;
    font-weight: 700;
    line-height: 160px;
    letter-spacing: -0.02em;
    cursor: pointer;

    &_next {
      color: $fuchia;
    }

    &_prev {
      color: $iris;
    }
  }

  &__counter {
    position: absolute;
    z-index: 10;
    left: 0;
    bottom: -40px;
  }

  &__counter-label {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: $black-blue;
    margin-bottom: 20px;
  }

  &__buttons {
    display: flex;
    gap: 20px;
  }

  &__button {
    height: 50px;
    width: 50px;
    font-size: 30px;
    color: $black-blue;
    background: $white;
    border: 1px solid $black-blue;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &:disabled {
      opacity: 50%;
    }

    &_next {
      img {
        transform: scale(-1, 1);
      }
    }
  }
}
