@import "~normalize.css/normalize.css";
@import "./constants.scss";
@import "./layout.scss";
@import "./circle.scss";
@import "./dates-slider.scss";

@font-face {
  font-family: "PTSans-Regular";
  src: url(../../assets/fonts/PTSans/PTSans-Regular.ttf) format("ttf");
  font-weight: 400;
}

@font-face {
  font-family: "PTSans-Bold";
  src: url(../../assets/fonts/PTSans/PTSans-Bold.ttf) format("ttf");
  font-weight: 700;
}

body {
  font-family: "PTSans-Regular", sans-serif;
  background: $white;
}

* {
  box-sizing: border-box;
}
