#root {
  padding: 0 10px;
}

* {
  cursor: url("../../assets/images/cursor.png"), auto;
}

.wrapper {
  border-left: 1px solid rgba($black-blue, 0.1);
  border-right: 1px solid rgba($black-blue, 0.1);
  max-width: 1440px;
  min-height: 100vh;
  overflow-y: hidden;
  margin: 0 auto;
  padding: 215px 80px 0;
  position: relative;

  .line {
    position: absolute;
    background: rgba($black-blue, 0.1);

    &_x {
      top: 480px;
      left: 0;
      right: 0;
      height: 1px;
    }

    &_y {
      top: 0;
      bottom: 0;
      left: 50%;
      width: 1px;
    }
  }
}

.click-effect {
  width: 35px;
  height: 35px;
  border: 2px solid;
  border-radius: 50%;
  position: absolute;
  z-index: 50;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
