.slider {
  position: relative;

  &__button {
    width: 40px;
    height: 40px;
    background: $white;
    box-shadow: 0px 0px 15px 0px rgba($blue, 0.1);
    border: none;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 40px);

    @media (max-width: 991px) {
      display: none;
    }

    &:disabled {
      display: none;
    }

    &_prev {
      left: -44px;

      @media (max-width: 1900px) {
        left: -60px;
      }

      img {
        transform: scale(-1, 1);
      }
    }

    &_next {
      right: -44px;

      @media (max-width: 1900px) {
        right: -60px;
      }
    }
  }
}

.slide {
  &__title {
    font-family: "BebasNeue";
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: $blue;
    margin: 20px 0 10px 0;

    @media (max-width: 1900px) {
      margin: 20px 0;
    }

    @media (max-width: 767px) {
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
      margin: 13px 0;
    }
  }

  &__text {
    font-size: 20px;
    line-height: 30px;
    color: $black-blue;
    margin-top: 0;

    @media (max-width: 1900px) {
      margin: 20px 0;
    }

    @media (max-width: 767px) {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      margin: 14px 0;
    }
  }

  &.swiper-slide-next,
  &.swiper-slide-prev {
    @media (max-width: 991px) {
      opacity: 40%;
    }
  }
}

.swiper.swiper-initialized {
  @media (max-width: 575px) {
    margin: 0 -20px;
  }

  .swiper-wrapper {
    @media (max-width: 575px) {
      margin-left: 20px;
    }

    .swiper-slide {
      max-width: 360px;

      @media (max-width: 1900px) {
        max-width: none;
      }

      @media (max-width: 360px) {
        max-width: 166px;
      }
    }
  }
}
